<!DOCTYPE html>
<html>

<head>
    <title>用户设置</title>
    <link rel='stylesheet' href='/stylesheets/leftnavi.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/github-markdown.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script>
        function getPage(ele) {
            var href = $(ele).attr('href');
            changeNav(ele);
            console.log(href);

            $.ajax({
                url: href,
                type: "GET",
                data: {},
                success: function(res) {
                    $("#setting-right-box").html(res);
                },
                error: err => {
                    console.log(err);
                    alert(err);
                }
            });
        }

        function changeNav(ele) {
            var siblings = $(ele).siblings('.selected-item');
            if (siblings.length != 0) {
                $(siblings).toggleClass('selected-item');
                $(ele).toggleClass('selected-item');
            }
        }

        $(function() {
            getPage(('#my-settings'));
        });
    </script>
</head>

<body>
    <% include ./page-views/header.ejs %>
        <article class="markdown-body">
            <div class="left-box">
                <nav class="menu">
                    <h3 class="menu-heading">用户设置</h3>
                    <a class="menu-item selected-item" id="my-settings" href="adminUser/my-settings" onclick="getPage(this); return false;">个人设置</a>
                    <a class="menu-item" href="adminUser/my-blogs" onclick="getPage(this); return false;">我的博客</a>
                </nav>
            </div>
            <div id="setting-right-box" style="float: left; width: 75%;">
            </div>
        </article>
</body>

</html>