<!DOCTYPE html>
<html>

<head>
    <title>分享博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/github-markdown.css' />
    <style>

    </style>
</head>

<body>
    <% include ./page-views/header.ejs %>
        <article class="markdown-body">
            <%
            for(var i=0; i < fileList.length; i++){
                %>
                <div class="article-content">
                    <div class="article-content">
                        <div class="title">
                            <a href="/<%=fileList[i].title%>">
                                <%=fileList[i].title%>
                            </a>
                        </div>
                    </div>
                </div>
                <%
            }
        %>
        </article>
</body>

</html>