<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/prism.css' />
    <link rel='stylesheet' href='/stylesheets/github-markdown.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/prism.js"></script>
    <style>

    </style>
</head>

<body>
    <% include ./page-views/header.ejs %>
        <article class="markdown-body">
            <%- mdcontent %>
        </article>
</body>

</html>