body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html,
body {
    height: 100%;
}

body {
    color: rgb(34, 34, 34);
    line-height: 1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

a.logo {
    /*background-image: url("/images/new_logo_small.png");*/
    background-position: 0px, 8px;
    float: left;
    color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    width: 61px;
    height: 100%;
}

header {
    background: linear-gradient(rgb(8, 110, 213), rgb(5, 93, 181));
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 45px;
    margin: auto;
}

header .nav {
    width: 960px;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: rgb(242, 244, 245);
    line-height: 45px;
}

header .navtag {
    float: left;
    position: relative;
    height: 100%;
}

header ul.navul {
    margin: 0px;
    padding: 0px;
}

header li.topnav {
    list-style: none;
    margin: 0px;
    float: left;
    height: 100%;
    width: 54px;
}

header .self {
    margin: 0, .5em;
    float: right;
    height: 100%;
}

.topnav:hover {
    cursor: pointer;
}

.selfbody {
    width: 960px;
    margin: auto;
    padding-top: 50px;
}

.tags {
    display: inline-block;
}

span.tag {
    background-color: #5eb95e;
    color: #fefefe;
    margin: .25em;
    padding: .25em;
}

label.taglabel {
    margin: 0.5em;
    font-size: 14px;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

.article-content {
    border-radius: 2px;
    background-color: #f1f1f1;
    margin: 6px auto;
    min-height: 103px;
    width: var(--downloads-card-width);
    box-shadow: var(--shadow-elevation-2dp_-_box-shadow);
    position: relative;
}

.article-content .title {
    position: relative;
    margin-top: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 2.0em;
}

.article-content .title:hover {
    cursor: pointer;
}

.article-content a:hover,
a.no-text-decoration {
    text-decoration: none;
}

.article-content .op-link {
    padding: 1px, 10px;
    float: right;
    cursor: pointer;
}

div #uploadfile-dialog label {
    display: block;
}

dl.form-group,
dl.form-group dt,
dl.form-group dd {
    margin: 15px 0px;
    font-style: normal !important;
    padding: 0 !important;
}

dl.form-group input.form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #FAFBFC;
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292E;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #D1D5DA;
    border-radius: 3px;
    outline: medium none;
    box-shadow: 0px 1px 2px rgba(27, 31, 35, 0.075) inset;
}

form button.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -moz-appearance: none;
}

form button.submit-btn {
    background: linear-gradient(rgb(29, 127, 226), rgb(8, 101, 194));
    border: 1px solid rgb(13, 110, 184);
    color: rgb(255, 255, 255) !important;
}

.admin-blog-block {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-bottom: 1px solid #E1E4E8 !important;
}

.admin-blog-block .title {
    display: inline-block;
    margin-bottom: 4px !important;
    box-sizing: border-box;
}

.title h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.admin-blog-block .delete,
.float-right {
    float: right;
}

.admin-blog-block .delete button {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    color: #24292E;
    background-color: #EFF3F6;
    background-image: linear-gradient(-180deg, #FAFBFC 0%, #EFF3F6 90%);
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -moz-appearance: none;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.admin-blog-block .introdction {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.introdction p {
    display: inline-block !important;
    padding-right: 24px !important;
    color: #586069 !important;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.admin-blog-block .tags {
    font-size: 12px !important;
    margin-top: 8px !important;
}