<header class="top">
    <div class="nav">
        <a class="logo" href="/"></a>
        <div class="self"> </div>
        <!--<div class="self">
        </div>-->
        <div class="navtag">
            <ul class="navul">
                <li class="topnav"><a class="no-text-decoration" href="/">首页</a></li>
                <li class="topnav"><a class="no-text-decoration" href="/adminArticle">上传</a></li>
            </ul>
        </div>
    </div>
</header>