<div class="left-box">
    <nav class="menu">
        <h3 class="menu-heading">用户设置</h3>
        <a class="menu-item" href="#">个人设置</a>
        <a class="menu-item selected-item" href="#">我的博客</a>
    </nav>
</div>